


header {
    background: green url(../img/website_banner.jpg) center no-repeat;
    border-color: green;
    border-width: 5px;
    border-style: solid;
}

nav {

}

.menu-item {

}

.menu-item {

}